.auth-modal-box {
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 500;
}
.auth-modal-box .auth-form {
  position: relative;
  padding: 2rem;
  width: 26.5rem;
  max-width: 100%;
  font-size: 1.167rem;
  background-color: ftColor;
  border-radius: 2px;
  box-sizing: border-box;
}
.auth-modal-box .auth-form .panfish img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 10rem;
  -webkit-transform: translate(-50%, -83%);
  transform: translate(-50%, -83%);
  z-index: 1;
}
.auth-modal-box .auth-form .panfish img.greeting {
  -webkit-transform: translate(-50%, -75.8%);
  transform: translate(-50%, -75.8%);
}
.auth-modal-box .auth-form .panfish img.blindfold {
  width: 8.6rem;
  -webkit-transform: translate(-50%, -75%);
  transform: translate(-50%, -75%);
}
.auth-modal-box .auth-form .close-btn {
  float: right;
  cursor: pointer;
  opacity: 0.4;
}
.auth-modal-box .auth-form .panel .title {
  font-size: 1.5rem;
  margin: 0 0 2rem;
}
.auth-modal-box .auth-form .panel .input-group {
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.auth-modal-box .auth-form .panel .input-group .input-box {
  position: relative;
  margin-bottom: 0.8rem;
}
.auth-modal-box .auth-form .panel .input-group .input-box .input {
  padding: 10px;
  width: 100%;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  outline: none;
  box-sizing: border-box;
}
.auth-modal-box .auth-form .panel .btn {
  width: 100%;
  height: 3.334rem;
  color: #fff;
  background-color: #007fff;
  border-radius: 2px;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}
.auth-modal-box .auth-form .panel .prompt-box {
  margin: 1rem 0 0;
  color: #8b9196;
}
.auth-modal-box .auth-form .panel .prompt-box .clickable {
  color: #007fff;
  cursor: pointer;
}
