body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "iconfont";
  src: url("font/iconfont.eot"); /* IE9*/
  src: url("font/iconfont.eot#iefix") format('embedded-opentype'), url("font/iconfont.ttf") format('truetype'), url("font/iconfont.woff") format('woff'), url("font/iconfont.svg#iconfont") format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont.icon-baiyun:before {
  content: "\e602";
}
.iconfont.icon-denglu:before {
  content: "\e611";
}
.iconfont.icon-niao:before {
  content: "\e620";
}
.iconfont.icon-close:before {
  content: "\e636";
}
.iconfont.icon-search:before {
  content: "\e626";
}
.iconfont.icon-xiaoniao:before {
  content: "\e603";
}
.text-center {
  text-align: center;
}
.pointer {
  cursor: pointer;
}
.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.hide {
  display: none;
}
.show {
  display: block;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #007fff;
  color: #fff;
  border-radius: 2px;
  border: none;
  padding: 0.5rem 1.3rem;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
html,
body {
  line-height: 1;
  font-width: 200;
  font-size: 12px;
  color: #fff;
  font-family: 'Microsoft YaHei', 'PingFang SC', 'STHeitisc-Light', 'Helvetica-Light', 'Arial';
}
html .clearfix,
body .clearfix {
  display: inline-block;
}
html .clearfix:after,
body .clearfix:after {
  display: block;
  content: "";
  height: 0;
  visibility: hidden;
  clear: both;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  border-bottom-1px:after {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
  border-top-1px:before {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  border-bottom-1px:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  border-top-1px:before {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
.markdown {
  color: #666;
  font-size: 14px;
  line-height: 1.8;
}
.highlight {
  line-height: 1.5;
}
.markdown img {
  vertical-align: middle;
  max-width: 100%;
}
.markdown h1 {
  color: #404040;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 24px;
}
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  color: #404040;
  margin: 1.6em 0 0.6em 0;
  font-weight: 500;
  clear: both;
}
.markdown h1 {
  font-size: 28px;
}
.markdown h2 {
  font-size: 22px;
}
.markdown h3 {
  font-size: 16px;
}
.markdown h4 {
  font-size: 14px;
}
.markdown h5 {
  font-size: 12px;
}
.markdown h6 {
  font-size: 12px;
}
.markdown hr {
  height: 1px;
  border: 0;
  background: #e9e9e9;
  margin: 16px 0;
  clear: both;
}
.markdown p,
.markdown pre {
  margin: 1em 0;
}
.markdown > p,
.markdown > blockquote,
.markdown > .highlight,
.markdown > ol,
.markdown > ul {
  width: 80%;
}
.markdown ul > li {
  list-style: circle;
}
.markdown > ul li,
.markdown blockquote ul > li {
  margin-left: 20px;
  padding-left: 4px;
}
.markdown > ul li p,
.markdown > ol li p {
  margin: 0.6em 0;
}
.markdown ol > li {
  list-style: decimal;
}
.markdown > ol li,
.markdown blockquote ol > li {
  margin-left: 20px;
  padding-left: 4px;
}
.markdown code {
  margin: 0 3px;
  padding: 0 5px;
  background: #eee;
  border-radius: 3px;
}
.markdown pre {
  border-radius: 6px;
  background: #f7f7f7;
  padding: 20px;
}
.markdown pre code {
  border: none;
  background: #f7f7f7;
  margin: 0;
}
.markdown strong,
.markdown b {
  font-weight: 600;
}
.markdown > table {
  border-collapse: collapse;
  border-spacing: 0px;
  empty-cells: show;
  border: 1px solid #e9e9e9;
  width: 95%;
  margin-bottom: 24px;
}
.markdown > table th {
  white-space: nowrap;
  color: #333;
  font-weight: 600;
}
.markdown > table th,
.markdown > table td {
  border: 1px solid #e9e9e9;
  padding: 8px 16px;
  text-align: left;
}
.markdown > table th {
  background: #f7f7f7;
}
.markdown blockquote {
  font-size: 90%;
  color: #999;
  border-left: 4px solid #e9e9e9;
  padding-left: 0.8em;
  margin: 1em 0;
  font-style: italic;
}
.markdown blockquote p {
  margin: 0;
}
.markdown .anchor {
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-left: 8px;
}
.markdown .waiting {
  color: #ccc;
}
.markdown h1:hover .anchor,
.markdown h2:hover .anchor,
.markdown h3:hover .anchor,
.markdown h4:hover .anchor,
.markdown h5:hover .anchor,
.markdown h6:hover .anchor {
  opacity: 1;
  display: inline-block;
}
.markdown > br,
.markdown > p > br {
  clear: both;
}
.hljs {
  display: block;
  background: #fff;
  padding: 0.5em;
  color: #333;
  overflow-x: auto;
}
.hljs-comment,
.hljs-meta {
  color: #969896;
}
.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}
.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}
.hljs-section,
.hljs-name {
  color: #63a35c;
}
.hljs-tag {
  color: #333;
}
.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}
.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}
.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}
.hljs-link {
  text-decoration: underline;
}
pre {
  background: #fff;
}
body {
  background: url("/images/top.jpg") no-repeat center top #075498;
  width: 100%;
}
body header {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
body header h1 {
  margin: 40px 0;
  font-size: 30px;
}
body header nav {
  margin-bottom: 40px;
}
body header nav .nav-list li {
  margin-right: 30px;
  display: inline-block;
}
body header nav .nav-list li a {
  position: relative;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
body header nav .nav-list li a:hover .en {
  transform: translateY(0);
  opacity: 1;
}
body header nav .nav-list li a span {
  z-index: 2;
  display: block;
}
body header nav .nav-list li a span.en {
  z-index: 1;
  display: block;
  font-size: 12px;
  text-align: center;
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  transform: translateY(-100%);
}
body article {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  background: url("/images/articlebg.png") repeat;
}
body article .container {
  background: url("/images/articlebg.png") repeat;
  overflow: hidden;
  margin: 20px;
  box-shadow: #075498 0px 1px 10px;
}
body article .container .title {
  display: block;
  position: relative;
  font-size: 1.5em;
  margin: 0.83em 0;
  font-weight: bold;
}
body article .container .title b {
  font-size: 22px;
  margin-bottom: 20px;
  background: #2a7497;
  padding: 10px 0;
  width: 200px;
  text-align: center;
  border-radius: 0 30px 30px 0;
  box-shadow: #21566f 1px 1px 1px;
  border-left: #dae1e4 6px solid;
  display: block;
  margin: 30px 0 0 30px;
}
body article .container .title span {
  position: absolute;
  right: 20px;
  top: 20px;
  text-shadow: rgba(7,84,152,0.71) 1px 1px 1px;
  font-size: 14px;
}
body article .container .article-list {
  margin: 30px 0 0 0;
  padding: 0;
  position: relative;
}
body article .container .article-list:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  background: #afdcf8;
  left: 158px;
  margin-left: -10px;
}
body article .container .article-list li {
  position: relative;
}
body article .container .article-list li .ar-time {
  display: block;
  width: 100px;
  padding: 5px 30px 5px 0;
  position: absolute;
  margin-left: 20px;
  transition: all 1s;
}
body article .container .article-list li .ar-time span {
  display: block;
  text-align: right;
  font-size: 22px;
  color: #3594cb;
}
body article .container .article-list li .ar-time span:first-child {
  font-size: 14px;
  color: #bdd0db;
}
body article .container .article-list li .ar-round {
  width: 10px;
  height: 10px;
  font-family: 'ecoico';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: #46a4da;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #afdcf8;
  text-align: center;
  left: 170px;
  top: 15px;
  margin: 0 0 0 -25px;
}
body article .container .article-list li .ar-content {
  margin: 0 50px 15px 180px;
  background: #3594cb;
  color: #fff;
  padding: 2em;
  position: relative;
  border-radius: 5px;
  height: 150px;
}
body article .container .article-list li .ar-content:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #3594cb;
  border-width: 10px;
  top: 10px;
}
body article .container .article-list li .ar-content h2 {
  margin-top: 0px;
  padding: 0 0 10px 0;
  font-size: 16px;
  text-shadow: rgba(7,84,152,0.71) 1px 1px 1px;
  position: relative;
}
body article .container .article-list li .ar-content h2 .ar-num {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 14px;
  font-weight: normal;
}
body article .container .article-list li .ar-content .ar-pic {
  width: 200px;
  height: 120px;
  overflow: hidden;
  display: block;
  float: left;
  margin-right: 20px;
}
body article .container .article-list li .ar-content .ar-pic img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
}
body article .container .article-list li .ar-content .ar-summary {
  float: right;
  width: 450px;
  height: 80px;
  overflow: hidden;
  line-height: 1.4;
}
body article .container .article-list li .ar-content .ar-read {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: #075498;
  color: #fff;
  padding: 5px 10px;
  margin: 20px 0 0 0;
  border-radius: 5px;
}
body article .container .article-list li:hover .ar-time {
  background: #afdcf8;
  border-radius: 20px 0 0 20px;
  color: #075498;
}
body article .container .article-list li:hover .ar-time span:first-child {
  color: #075498;
}
body article .container .ar-page {
  margin: 20px 0;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.ar-page a {
  margin: 0 2px;
  height: 26px;
  line-height: 26px;
  border: #89c9ef 1px solid;
  border-radius: 50%;
  width: 26px;
  text-align: center;
  display: inline-block;
  color: #aee1ff;
}
footer {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
}
footer a {
  font-size: 16px;
  color: #fff;
}
