<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/index.css">
    <!-- <script type="text/javascript" src="/js/scrollReveal.js"></script> -->
    <title>余力的博客</title>
</head>

<body>
    <header>
        <h1 data-scroll-reveal="enter right over 1s">YU•力の博客</h1>
        <nav>
            <ul class="nav-list">
                <li>
                    <a href="">
                        <span>首页</span>
                        <span class="en">home</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>关于我</span>
                        <span class="en">about</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>碎言碎语</span>
                        <span class="en">Doing</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="login-btn fr" style="cursor: pointer;">登录</div>
    </header>
    <article>
        <div class="container">
            <div class="title">
                <b>首页</b>
                <span>不要轻易放弃。学习成长的路上，我们长路漫漫，只因学无止境。</span>
            </div>
            <ul class="article-list">
                <li>
                    <div class="ar-time">
                        <span>Time</span>
                        <span>08-08</span>
                    </div>
                    <div class="ar-round"></div>
                    <div class="ar-content" data-scroll-reveal="enter right over 1s">
                        <h2>三步实现滚动条触动css动画效果
                            <p class="ar-num">阅读：<span>1</span> 评论：<span>12</span></p>
                        </h2>
                        <p>
                            <span class="ar-pic">
                                <a href="./read">
                                    <img src="/images/t03.jpg" alt="">
                                </a>     
                            </span>
                            <span class="ar-summary">
                                现在很多网站都有这种效果，我就整理了一下，分享出来。利用滚动条来实现动画效果，ScrollReveal.js 用于创建和管理元素进入可视区域时的动画效果，帮助你的网站增加吸引力...
                            </span>
                            <a href="./read" class="ar-read">阅读全文>></a>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="ar-time">
                        <span>Time</span>
                        <span>08-08</span>
                    </div>
                    <div class="ar-round"></div>
                    <div class="ar-content" data-scroll-reveal="enter right over 1s">
                        <h2>三步实现滚动条触动css动画效果
                            <p class="ar-num">阅读：<span>1</span> 评论：<span>12</span></p>
                        </h2>
                        <p>
                            <span class="ar-pic">
                                <a href="">
                                    <img src="/images/t03.jpg" alt="">
                                </a>     
                            </span>
                            <span class="ar-summary">
                                现在很多网站都有这种效果，我就整理了一下，分享出来。利用滚动条来实现动画效果，ScrollReveal.js 用于创建和管理元素进入可视区域时的动画效果，帮助你的网站增加吸引力...
                            </span>
                            <a href="" class="ar-read">阅读全文>></a>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="ar-time">
                        <span>Time</span>
                        <span>08-08</span>
                    </div>
                    <div class="ar-round"></div>
                    <div class="ar-content" data-scroll-reveal="enter right over 1s">
                        <h2>三步实现滚动条触动css动画效果
                            <p class="ar-num">阅读：<span>1</span> 评论：<span>12</span></p>
                        </h2>
                        <p>
                            <span class="ar-pic">
                                    <a href="">
                                        <img src="/images/t03.jpg" alt="">
                                    </a>     
                                </span>
                            <span class="ar-summary">
                                    现在很多网站都有这种效果，我就整理了一下，分享出来。利用滚动条来实现动画效果，ScrollReveal.js 用于创建和管理元素进入可视区域时的动画效果，帮助你的网站增加吸引力...
                                </span>
                            <a href="" class="ar-read">阅读全文>></a>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="ar-time">
                        <span>Time</span>
                        <span>08-08</span>
                    </div>
                    <div class="ar-round"></div>
                    <div class="ar-content" data-scroll-reveal="enter right over 1s">
                        <h2>三步实现滚动条触动css动画效果
                            <p class="ar-num">阅读：<span>1</span> 评论：<span>12</span></p>
                        </h2>
                        <p>
                            <span class="ar-pic">
                                        <a href="">
                                            <img src="/images/t03.jpg" alt="">
                                        </a>     
                                    </span>
                            <span class="ar-summary">
                                        现在很多网站都有这种效果，我就整理了一下，分享出来。利用滚动条来实现动画效果，ScrollReveal.js 用于创建和管理元素进入可视区域时的动画效果，帮助你的网站增加吸引力...
                                    </span>
                            <a href="" class="ar-read">阅读全文>></a>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="ar-time">
                        <span>Time</span>
                        <span>08-08</span>
                    </div>
                    <div class="ar-round"></div>
                    <div class="ar-content" data-scroll-reveal="enter right over 1s">
                        <h2>三步实现滚动条触动css动画效果
                            <p class="ar-num">阅读：<span>1</span> 评论：<span>12</span></p>
                        </h2>
                        <p>
                            <span class="ar-pic">
                                            <a href="">
                                                <img src="/images/t03.jpg" alt="">
                                            </a>     
                                        </span>
                            <span class="ar-summary">
                                            现在很多网站都有这种效果，我就整理了一下，分享出来。利用滚动条来实现动画效果，ScrollReveal.js 用于创建和管理元素进入可视区域时的动画效果，帮助你的网站增加吸引力...
                                        </span>
                            <a href="" class="ar-read">阅读全文>></a>
                        </p>
                    </div>
                </li>
            </ul>
            <div class="ar-page">
                <a>
                    <p title="总页数">121</p>
                </a>
                <a href="" title="上一页"><</a>
                <a href="" title="当前页">100</a>
                <a href="" title="下一页">></a>
            </div>
        </div>
    </article>
    <footer>Contact | <a href="/">yu580.com</a></footer>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript">
        if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
            (function () {
                window.scrollReveal = new scrollReveal({ reset: true });
            })();
        }
    </script>
    <!-- <div id="login-box" class="auth-modal-box">
        <form class="auth-form">
            <div class="panfish" style="">
                <img src="//gold-cdn.xitu.io/v3/static/img/normal.0447fe9.png" class="normal" style="">
                <img src="//gold-cdn.xitu.io/v3/static/img/greeting.1415c1c.png" class="greeting" style="display: none;">
                <img src="//gold-cdn.xitu.io/v3/static/img/blindfold.58ce423.png" class="blindfold" style="display: none;">
            </div>
            <i title="关闭" class="close-btn iconfont icon-close"></i>
            <div class="panel">
                <h1 class="title">登录</h1>
                <div class="input-group">
                    <div class="input-box">
                        <input name="loginPhoneOrEmail" maxlength="64" placeholder="请填写手机号或邮箱" class="input">
                    </div>
                    <div class="input-box">
                        <input name="loginPassword" type="password" maxlength="64" placeholder="请输入密码" class="input">
                    </div>
                    <div class="input-box " >
                        <input name="loginPassword" type="password" maxlength="64" placeholder="请再次输入密码" class="input">
                    </div>
                </div>
                <button class="btn">登录</button>
                <div class="prompt-box">没有账号？ <span class="clickable">注册</span>
                </div>
            </div>
        </form>
    </div> -->
</body>

</html>